html {
  background-color: black;
}

body {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

/* Animated Title */
.animated-title {
  text-align: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.animated-title h1 {
  padding: 10px;
  width: 80%;
  font-size: 4.5vw;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* Anchor Links */
a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

/* Navbar */

nav {
  background-color: black;
  padding: 10px;
}

nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

nav li:hover {
  color: #FFBF00;
}

/* Unfloding Section */
.unfolding-section {
  height: auto;
  padding: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.unfolding-section p {
  width: 75%;
}

/* Education Cards */
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  height: 300px;
  width: 300px;
  margin: 10px;
  border-radius: 25px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card img {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-color: white;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
  background-color: black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graduation-date {
  color: orange;
}

.h2-inner-text {
  color: orange;
}

.white-square {
  background-color: white;
}


/* Skills Section */
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

th {
  text-align: center;
  width: 3%;
}

/* Socials Section */
.socials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socials-div {
  margin-top: 20%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20%;
}


/* Layout for mobile */
@media screen and (max-width: 450px) {
  body {
    background-image: url('../images/mobile-background.jpeg');
    padding-left: 2vh;
    padding-right: 2vh;
  }

  h2 {
    font-size: 4vh;
  }

  nav ul {
    font-size: 1.7vh;
    justify-content: space-between;
  }

  section {
    margin-top: 2vh;
  }

  table {
    font-size: 1.5vh;
    border-collapse: separate;
    border-spacing: 0 5vh;
  }

  .unfolding-section {
    font-size: 1.5vh;
  }

  .unfolding-section img {
    height: 10vh;
    width: 10vh;
    margin-left: 1vw;
  }

  .card--face__back span {
    font-size: 5vh;
  }

  .h2-inner-text {
    font-size: 1.5vh;
  }

  .socials-section img {
    height: 10vh;
    width: 10vh;
  }
}

/* Layout for the bigger screens */
@media screen and (min-width: 451px) {
  body {
    background-image: url('../images/desktop-background.jpeg');
    padding-right: 2vw;
    padding-left: 2vw;
  }

  h2 {
    font-size: 3vw;
  }

  nav ul {
    font-size: 3vw;
    justify-content: space-around;
  }

  section {
    padding-top: 2vw;
  }

  .unfolding-section {
    font-size: 1.5vw;
  }

  .unfolding-section img {
    height: 10vw;
    width: 10vw;
    margin-left: 1vw;
  }

  .card--face__back {
    font-size: 3vw;
  }

  table {
    font-size: 1.5vw;
    border-collapse: separate;
    border-spacing: 0 5vw;
  }

  .h2-inner-text {
    font-size: 1.5vw;
  }

  .socials-section img {
    height: 10vw;
    width: 10vw;
  }
}
